h1 {
  text-align: center;
  color: green;
  background-color: #b2b8c2;
  border: gray solid 20px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.form {
  float:right;
  text-align: center;
  background-color: #b2b8c2;
  color: green; 
  padding-left: 20%;
  padding-right: 20%;
}

.possresults {
  float:left; 
  background-color: #b2b8c2;
  padding-left: 13%;
  padding-right: 13%;
  color: green; 
}

body {
  padding-left: 20px;
  padding-right: 20px;
  background-color:green;
}

.hidden {
  display: none;
}